<div hidden="true">debug:{{keywordObserableHolder$ | async}}</div>
<app-breadcrumb [prefixUrl]="'/mse'"></app-breadcrumb>
<div nz-row>
  <div nz-col nzSpan="3">
      <nz-select style="width: 200px;margin:12px 0;" nzAllowClear nzPlaceHolder="部门(全部)" [(ngModel)]="currentSearchCondition.orgName" (ngModelChange)="onSearchBtnClicked()">
          <nz-option *ngFor="let orgName of orgNames" nzLabel="{{orgName}}" nzValue="{{orgName}}" ></nz-option>
      </nz-select>
  </div>
  <div nz-col nzSpan="3" style="margin: 0 0 0 30px;">
      <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="anticon anticon-user" style="margin: 12px 0 0;">
          <input type="text" nz-input placeholder="创建人关键字" [(ngModel)]="currentSearchCondition.owner" (keyup)="onOwnerChanged($event.target.value)">
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i class="anticon anticon-close-circle" (click)="currentSearchCondition.owner=null;onSearchBtnClicked();" *ngIf="currentSearchCondition.owner"></i>
      </ng-template>
  </div>
  <div nz-col nzSpan="3" style="margin: 0 0 0 30px;">
    <button nz-button nzType="default" style="margin: 12px 0 0 0;" (click)="onSearchBtnClicked()"><i class="anticon anticon-search"></i>搜索</button>
  </div>
</div>
<div nz-row style="margin-top: 20px;">
  <nz-table
    #appInfoListTable
    nzShowSizeChanger
    [nzLoading]="isLoading"
    [nzFrontPagination]="false"
    [nzData]="currentPageData"
    [nzTotal]="total"
    [(nzPageSize)]="pageSize"
    [(nzPageIndex)]="pageIndex"
    [nzShowTotal]="totalTemplate"
    (nzPageIndexChange)="pageIndexchanged()"
    (nzPageSizeChange)="pageSizeChange()"
  >
    <thead>
      <tr>
          <th>应用ID</th>
          <th>应用名</th>
          <th>部门</th>
          <th>创建人</th>
          <th>创建人邮箱</th>
          <th>创建时间</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appInfo of appInfoListTable.data">
        <td>
            <span nz-tooltip nzTitle="{{appInfo.appId}}">{{appInfo.appId | slice:0:8}}</span>
        </td>
        <td>
          {{appInfo.name}}
          <!-- <a [routerLink]="['../app', appInfo.id]">{{appInfo.name}}</a> -->
        </td>
        <td>{{appInfo.orgName}}</td>
        <td>{{appInfo.ownerName}}</td>
        <td>{{appInfo.ownerEmail}}</td>
        <td>{{appInfo.dataChangeCreatedBy}}</td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-total>
    共 {{total}} 条
</ng-template>
</div>
