{
  "info": {
    "version": "1.1.0", 
    "contact": {
      "email": "hongwei.mei@changhong.com"
    }, 
    "description": "This is a simple API", 
    "license": {
      "url": "", 
      "name": "Changhong SSC 2.0"
    }, 
    "title": "Matrix Cloud AppStack API [\u975e\u7f51\u5173]"
  }, 
  "paths": {
    "/pets": {
      "post": {
        "operationId": "createPets", 
        "summary": "Create a pet", 
        "responses": {
          "201": {
            "description": "Null response"
          }, 
          "default": {
            "description": "unexpected error", 
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }, 
        "tags": [
          "pets"
        ]
      }, 
      "get": {
        "operationId": "listPets", 
        "summary": "List all pets", 
        "responses": {
          "default": {
            "description": "unexpected error", 
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }, 
          "200": {
            "headers": {
              "x-next": {
                "type": "string", 
                "description": "A link to the next page of responses"
              }
            }, 
            "description": "An paged array of pets", 
            "schema": {
              "$ref": "#/definitions/Pets"
            }
          }
        }, 
        "parameters": [
          {
            "description": "How many items to return at one time (max 100)", 
            "format": "int32", 
            "required": false, 
            "in": "query", 
            "type": "integer", 
            "name": "limit"
          }
        ], 
        "tags": [
          "pets"
        ]
      }
    }, 
    "/users": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/User"
              }
            }
          }, 
          "description": "add user"
        }, 
        "operationId": "createUsers", 
        "summary": "Create an user", 
        "responses": {
          "201": {
            "description": "Null response"
          }, 
          "default": {
            "description": "unexpected error", 
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }, 
        "tags": [
          "users"
        ]
      }
    }, 
    "/pets/{petId}": {
      "get": {
        "operationId": "showPetById", 
        "summary": "Info for a specific pet", 
        "responses": {
          "default": {
            "description": "unexpected error", 
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }, 
          "200": {
            "description": "Expected response to a valid request", 
            "schema": {
              "$ref": "#/definitions/Pets"
            }
          }
        }, 
        "parameters": [
          {
            "required": true, 
            "type": "string", 
            "description": "The id of the pet to retrieve", 
            "name": "petId", 
            "in": "path"
          }
        ], 
        "tags": [
          "pets"
        ]
      }
    }
  }, 
  "tags": [
    {
      "name": "templates", 
      "description": "\u5e94\u7528\u6a21\u7248\u7ba1\u7406"
    }
  ], 
  "definitions": {
    "Pet": {
      "required": [
        "id", 
        "name"
      ], 
      "properties": {
        "tag": {
          "type": "string"
        }, 
        "id": {
          "type": "integer", 
          "format": "int64"
        }, 
        "name": {
          "type": "string"
        }
      }
    }, 
    "Error": {
      "required": [
        "code", 
        "message"
      ], 
      "properties": {
        "message": {
          "type": "string"
        }, 
        "code": {
          "type": "integer", 
          "format": "int32"
        }
      }
    }, 
    "Users": {
      "items": {
        "$ref": "#/definitions/User"
      }, 
      "type": "array"
    }, 
    "Pets": {
      "items": {
        "$ref": "#/definitions/Pet"
      }, 
      "type": "array"
    }, 
    "User": {
      "required": [
        "email", 
        "name", 
        "passwd"
      ], 
      "type": "object", 
      "properties": {
        "passwd": {
          "type": "string"
        }, 
        "email": {
          "type": "string"
        }, 
        "name": {
          "type": "string"
        }
      }
    }
  }, 
  "servers": [
    {
      "url": "https://account.matrixcloud.io", 
      "description": "Matrix Cloud AppStack API"
    }
  ], 
  "openapi": "3.0.0"
}