<div *ngIf="!showDetail">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>
            <a routerLink="/mce" style="color: #000000;">
                <i class="anticon anticon-home"></i>
            </a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a style="color: #000000;">
                <span>容器管理</span>
            </a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>服务列表
        </nz-breadcrumb-item>
    </nz-breadcrumb>
<div nz-row>
    <div nz-col nzSpan="24">
      <nz-select  style="width: 200px;margin:12px 0;" nzShowSearch nzAllowClear nzPlaceHolder="集群" [(ngModel)]="cluster" (ngModelChange)="clusterChange($event)">
        <nz-option *ngFor="let cluster of clustersData" nzLabel={{cluster.name}} nzValue={{cluster.cluster_id}}></nz-option>
      </nz-select>
        <nz-select style="width: 200px;margin:12px 0;margin-left: 12px;" nzShowSearch nzAllowClear nzPlaceHolder="命名空间" [(ngModel)]="namespace" (ngModelChange)="namespaceChange($event)">
          <nz-option *ngFor="let namespace of namespaceData" nzLabel={{namespace.metadata.name}} nzValue={{namespace.metadata.name}}></nz-option>
        </nz-select>
        <nz-select style="width: 200px;margin:12px 0;margin-left: 12px;" nzShowSearch nzAllowClear nzPlaceHolder="应用堆栈" [(ngModel)]="app" (ngModelChange)="appChange($event)">
          <nz-option *ngFor="let app of appsData" nzLabel={{app.name}} nzValue={{app.name}}></nz-option>
        </nz-select>
    </div>
</div>
<div nz-row style="margin-top: 20px;">
    <nz-table
            #containerTable
            nzShowSizeChanger
            [nzData]="podsData"
    >
        <thead>
        <tr>
            <th>服务</th>
            <th>镜像</th>
            <th>状态</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of containerTable.data">
            <td>
                <a (click)="detailClick(data.name)">{{data.name}}</a>
            </td>
            <td>{{data.image}}</td>
            <td>{{data.status}}</td>
            <td>{{data.start_time}}</td>
        </tr>
        </tbody>
    </nz-table>
</div>
</div>

<div *ngIf="showDetail">
    <div>
        <nz-breadcrumb style="margin:12px 0;">
            <nz-breadcrumb-item>
                <a routerLink="/mce" style="color:  #000000;">
                    <i class="anticon anticon-home"></i>
                </a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a style="color: #000000;">
                    <span>容器管理</span>
                </a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a (click)="listClick()">
                    <span>服务列表</span>
                </a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                {{detailName}}
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div nz-row style="margin-top: 20px;">
        <nz-table
                #containerTable
                nzShowSizeChanger
                [nzData]="podsData"
        >
            <thead>
            <tr>
                <th>服务</th>
                <th>镜像</th>
                <th>状态</th>
                <th>创建时间</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="detailData">
                <td>{{detailData.name}}</td>
                <td>{{detailData.image}}</td>
                <td>{{detailData.status}}</td>
                <td>{{detailData.start_time}}</td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</div>
