<div *ngIf="showProduct">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>
      <a routerLink="/agile/products" style="color: #1890ff;">
        <i class="anticon anticon-home"></i>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a style="color: #1890ff;">
        <span>敏捷管理</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>产品列表
    </nz-breadcrumb-item>
  </nz-breadcrumb>
   <div nz-row>
      <div nz-col nzSpan="24"><!--
          <nz-select style="width: 200px;margin:12px 0;" nzShowSearch nzAllowClear nzPlaceHolder="创建者" >
              <nz-option nzLabel="李伟" nzValue="wei9.li"></nz-option>
              <nz-option nzLabel="蒲文龙" nzValue="wenlong.pu"></nz-option>
          </nz-select>
          <nz-select style="width: 200px;margin:12px 0;margin-left: 12px;" nzShowSearch nzAllowClear nzPlaceHolder="产品名" >
              <nz-option nzLabel="云基础平台" nzValue="云基础平台"></nz-option>
              <nz-option nzLabel="云商行" nzValue="云商行"></nz-option>
          </nz-select>
          <button style="width: 100px;margin:12px 0;margin-left: 12px;" nz-button nzType="primary">Submit</button>-->
          <app-selectuser (handleOk)="handleUserOk($event)"></app-selectuser>
          <nz-input-group style="width: 200px;margin:12px 0;margin-left: 12px;" nzSuffixIcon="anticon anticon-search">
            <input nz-input (blur)="onblur($event)" (keyup.enter)="onblur($event)" [(ngModel)]="name" nz-input placeholder="输入RTC用户名或选择用户">
          </nz-input-group>
          <input nz-input (blur)="productNameBlur($event)" (keyup.enter)="productNameBlur($event)" placeholder="产品名称" [(ngModel)]="productName" style="width: 200px;margin:12px 0;margin-left: 12px;">
      </div>
  </div>
  <div nz-row style="margin-top: 20px;">
      <nz-table
        #groupTable nzShowSizeChanger 
        [nzFrontPagination]="false" [nzData]="groupData" [nzLoading]="loading" [nzTotal]="total"
        [(nzPageIndex)]="pageNum" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)"
      >
        <thead>
          <tr>
              <th>产品名</th>
              <th>创建者</th>
              <th>产品描述</th>
              <th>创建时间</th>
          </tr>
        </thead>
        <tbody>
           <tr *ngFor="let data of groupTable.data">
            <!-- <td title={{data.title}}>{{data.title && (data.title.length > 13 ? data.title.substring(0,13) + '...' : data.title) || ''}}</td> -->
            <td title={{data.title}}>{{data.title}}</td>
            <td>{{data.creatorName}}</td>
            <!-- <td title={{data.description}}>{{data.description && (data.description.length > 13 ? data.description.substring(0,13) + '...' : data.description)}}</td> -->
            <td title={{data.description}}>{{data.description}}</td>
            <td>{{data.createTime}}</td> 
          </tr>
        </tbody>
      </nz-table>
  </div>
</div>
