<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>misaka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">
    <!-- The styles -->
    <link href="{{ static_url('charisma/css/bootstrap-cerulean.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('charisma/css/charisma-app.css') }}" rel="stylesheet">
    <link href="{{ static_url('charisma/bower_components/fullcalendar/dist/fullcalendar.css') }}" rel='stylesheet'>
    <link href="{{ static_url('charisma/bower_components/fullcalendar/dist/fullcalendar.print.css') }}" rel='stylesheet' media='print'>
    <link href="{{ static_url('charisma/bower_components/chosen/chosen.min.css') }}"  rel='stylesheet' >
    <link href="{{ static_url('charisma/bower_components/colorbox/example3/colorbox.css') }}" rel='stylesheet' >
    <link href="{{ static_url('charisma/bower_components/responsive-tables/responsive-tables.css') }}" rel='stylesheet'>
    <link href="{{ static_url('charisma/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css') }}" rel='stylesheet'>
    <link href="{{ static_url('charisma/css/jquery.noty.css') }}" rel='stylesheet'>
    <link href="{{ static_url('charisma/css/noty_theme_default.css') }}" rel='stylesheet'>
    <link href="{{ static_url('charisma/css/elfinder.min.css') }}" rel='stylesheet'>
    <link href="{{ static_url('charisma/css/elfinder.theme.css') }}"rel='stylesheet'>
    <link href="{{ static_url('charisma/css/jquery.iphone.toggle.css') }}" rel='stylesheet'>
    <link href="{{ static_url('charisma/css/uploadify.css') }}" rel='stylesheet'>
    <link href="{{ static_url('charisma/css/animate.min.css') }}" rel='stylesheet'>
    <link href="{{ static_url('charisma/img/favicon.ico') }} "   rel='shortcut icon'>
    <!-- jQuery -->
    <!-- <script src="bower_components/jquery/jquery.min.js"></script> -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ static_url('charisma/bower_components/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/bower_components/jquery/jquery.min.js') }}" type="text/javascript"></script>
    
    {% block head %}{% end %}

</head>


<body>
    {% block topbar %} {% end %}
    {% block body %} {% end %}
    {% block footbar %} {% end %}
    {% block script %}{% end %}

    <script src="{{ static_url('charisma/bower_components/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/js/jquery.cookie.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/bower_components/moment/min/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/bower_components/fullcalendar/dist/fullcalendar.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/bower_components/chosen/chosen.jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/bower_components/colorbox/jquery.colorbox-min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/js/jquery.noty.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/bower_components/responsive-tables/responsive-tables.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/js/jquery.raty.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/js/jquery.iphone.toggle.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/js/jquery.autogrow-textarea.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/js/jquery.uploadify-3.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/js/jquery.history.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/js/charisma.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('charisma/js/operat.js') }}" type="text/javascript"></script>
</body>

</html>
