{% extends "./admin_topbar.html" %}

{% block body %}

<div id="content" class="col-lg-10 col-sm-10">
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="/admin/adminHome">Home</a>
            </li>
            <li>
                <a href="#">User</a>
            </li>
        </ul>
    </div>

        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>用户列表</h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-setting btn-round btn-default"><i
                                class="glyphicon glyphicon-cog"></i></a>
                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>注册时间</th>
                            <th>最后上线</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id=userList>
                        </tbody>
                    </table>
                    <HR>
                    <ul class ="pagination pagination-centered">
                        <li id = "UserPrev" misaka-operat="2" misaka-active="POST"><a href="#">Prev</a></li>
                        <li id = "UserNext" misaka-operat="3" misaka-active="POST"><a href="#">Next</a></li>
                    </ul>
</div>

{% end %}


{% block script %}
<script src="{{ static_url('js/admin/admin_user.js') }}" type="text/javascript"></script> 
{% end %}
