<ion-view view-title="Chats">
<ion-content>

<!-- <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher> -->
<ion-list>
<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items" type="item-text-wrap" href="#/tab/chat/{{item.topic_id}}">
        <h2>{{item.title}}</h2>
        <p>{{item.brief}}</p>
    </ion-item>
<ion-list>
<ion-infinite-scroll ng-if="hasmore" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>  

</ion-content>
</ion-view>



















