{% extends "./base.html" %}

{% block head%}
<link href="{{ static_url('css/web/topic.css') }}" rel='stylesheet'>
<link href="{{ static_url('markdown/css/editormd.css') }}" rel='stylesheet'>
{% end %}

{% block body %}

<!-- 文章分类， 固定有 东方玄学，西方神秘学， 草药学， 运动保健， 文娱艺术 -->
<div id="center_wrap">
    <div id="topic_wrap">
        <div id="topic_head">
            <div id="topic_title">
            </div>
            <div id="topic_info">
            </div>
            <div id="topic_ext">
            </div>
        </div>
        <div id="topic_body" class="markdown-body">
        </div>
        <div id="topic_tail">
            <div id="tail_info">
            </div>
            <!--<div id="uyan_frame"></div>
            <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2128652"></script>
            -->
        </div>
    </div>
</div>

{% end %}

{% block script %}
<script src="{{ static_url('markdown/lib/marked.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/web/topic.js') }}" type="text/javascript"></script> 
{% end %}
