{% extends "./base.html" %}

{% block head%}
<link href="{{ static_url('css/web/topiclist.css') }}" rel='stylesheet'>
{% end %}


{% block body %}

<!-- 文章分类， 固定有 东方玄学，西方神秘学， 草药学， 运动保健， 文娱艺术 -->

<div id="center_wrap">

    <div id="topic_wrap">
        <div id="topic_head">
            <ul>
                <li class="display_list active" sort="mtime"><p>最新收录</p></li>
                <li class="display_list" sort="reader"><p>最热阅读</p></li>
            </ul>
        </div>
        <div id="topic_list">
        </div>
        <div id="topic_tail">
        </div>
    </div>
    <div id="rightbar_wrap">
        <div id="rightbar_body">
                <div id="tag_lst">
                </div>
        </div>
    </div>
</div>

{% end %}

{% block script %}
<script src="{{ static_url('js/web/topicList.js') }}" type="text/javascript"></script> 
{% end %}
