<div *ngIf="showGroup">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>
      <a routerLink="/users" style="color: #1890ff;">
        <i class="anticon anticon-home"></i>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a style="color: #1890ff;">
        <span>账号管理</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>用户组管理
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div nz-row>
      <div nz-col nzSpan="24">
          <nz-select style="width: 200px;margin:12px 0;" nzShowSearch nzAllowClear nzPlaceHolder="查询项目" [(ngModel)]="prSelectedValue" (ngModelChange)="projectChange($event)">
              <nz-option *ngFor="let option of modulesData" [nzLabel]="option.cn" [nzValue]="option.ID"></nz-option>
            </nz-select>
            <!-- <nz-select style="width: 200px;margin:12px 0;margin-left: 12px;" nzShowSearch nzAllowClear nzPlaceHolder="查询组" [(ngModel)]="grSelectedValue">
              <nz-option nzLabel="测试" nzValue="FAT"></nz-option>
              <nz-option nzLabel="开发" nzValue="DEV"></nz-option>
              <nz-option nzLabel="生产" nzValue="PRO"></nz-option>
            </nz-select> -->
            <button nz-button nzType="primary" style="float:right;" (click)="showAddModal()">添加组</button>
      </div>
  </div>
  <div nz-row style="margin-top: 20px;">
      <nz-table
        #groupTable
        nzShowSizeChanger
        [nzData]="groupData"
        [nzShowTotal]="GroupTotalTemplate"
      >
        <thead>
          <tr>
              <th>组名</th>
              <th>组ID</th>
              <th>项目</th>
              <th>描述</th>
              <th>创建时间</th>
              <th>更新时间 </th>
              <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of groupTable.data">
            <td>
              <a (click)="groupClick(data.group_name,data.id)">{{data.group_name}}</a>
            </td>
            <td>{{data.group_id}}</td>
            <td>{{data.project_id}}</td>
            <td>{{data.description}}</td>
            <td>{{data.create_time}}</td>
            <td>{{data.update_time}}</td>
            <td>
              <i class="anticon anticon-edit actionIcon" (click)="showEditModal(data)"></i>
              <nz-divider nzType="vertical"></nz-divider>
              <i class="anticon anticon-delete actionIcon" title="删除用户组" nz-popconfirm nzTitle="确定要删除该用户组吗?" (nzOnConfirm)="delGroupConfirm(data.id)" (nzOnCancel)="delGroupCancel()"></i>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <ng-template #GroupTotalTemplate let-total>
          共 {{total}} 条
      </ng-template>
  </div>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="添加组" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="group_name">组名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="group_name" id="group_name" placeholder="请填写组名">
          <nz-form-explain *ngIf="validateForm.get('group_name').dirty && validateForm.get('group_name').errors">请填写组名</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="group_id">组ID</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="group_id" id="group_id" placeholder="请填写组ID">
          <nz-form-explain *ngIf="validateForm.get('group_id').dirty && validateForm.get('group_id').errors">请填写组ID</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="project_id">归属项目</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select id="project_id" formControlName="project_id" nzPlaceHolder="请选择归属项目">
            <nz-option *ngFor="let option of modulesData" [nzLabel]="option.cn" [nzValue]="option.ID"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="validateForm.get('project_id').dirty && validateForm.get('project_id').errors">请选择归属项目</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">描述</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea [nzAutosize]="{ minRows: 4, maxRows: 8 }" nz-input formControlName="description" id="description" placeholder="请填写描述"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
  <nz-modal [(nzVisible)]="isEditVisible" nzTitle="编辑组" (nzOnCancel)="handleEditCancel()" (nzOnOk)="handleEditOk()">
      <form nz-form [formGroup]="validateEditForm">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="group_name">组名</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="group_name" id="group_name" placeholder="请填写组名">
            <nz-form-explain *ngIf="validateEditForm.get('group_name').dirty && validateEditForm.get('group_name').errors">请填写组名</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="group_id">组ID</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="group_id" id="group_id" placeholder="请填写组ID">
            <nz-form-explain *ngIf="validateEditForm.get('group_id').dirty && validateEditForm.get('group_id').errors">请填写组ID</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="project_id">归属项目</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select id="project_id" formControlName="project_id" nzPlaceHolder="请选择归属项目">
              <nz-option *ngFor="let option of modulesData" [nzLabel]="option.cn" [nzValue]="option.ID"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validateEditForm.get('project_id').dirty && validateEditForm.get('project_id').errors">请选择归属项目</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">描述</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <textarea [nzAutosize]="{ minRows: 4, maxRows: 8 }" nz-input formControlName="description" id="description" placeholder="请填写描述"></textarea>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-modal>
</div>

<div *ngIf="!showGroup">
  <div>
    <nz-breadcrumb style="margin:12px 0;">
      <nz-breadcrumb-item>
        <a routerLink="/users" style="color: #1890ff;">
          <i class="anticon anticon-home"></i>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a style="color: #1890ff;">
          <span>账号管理</span>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a (click)="userClick()">
          <span>用户组管理</span>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{groupName}}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div nz-row>
    <button nz-button nzType="primary" style="float:right;" (click)="showUserModal()">添加用户</button>
  </div>
  <div nz-row style="margin-top: 20px;">
      <nz-table
        #userTable
        nzShowSizeChanger
        [nzData]="userData"
        [nzShowTotal]="UserTotalTemplate"
      >
        <thead>
          <tr>
              <th>姓名</th>
              <th>登录名</th>
              <th>邮箱</th>
              <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userTable.data">
            <td>{{data.name}}</td>
            <td>{{data.username}}</td>
            <td>{{data.email}}</td>
            <td>
              <i class="anticon anticon-delete actionIcon" title="删除用户" nz-popconfirm nzTitle="确定要删除该用户吗?" (nzOnConfirm)="delUserConfirm(data.ug_id)" (nzOnCancel)="delUserCancel()"></i>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <ng-template #UserTotalTemplate let-total>
          共 {{total}} 条
      </ng-template>
  </div>
  <nz-modal nzWidth=650 [(nzVisible)]="isUserVisible" nzTitle="添加用户" (nzOnCancel)="handleUserCancel()" (nzOnOk)="handleUserOk()">
    <form nz-form [nzLayout]="vertical" [formGroup]="validateUserForm">
      <nz-form-item>
        <nz-form-label nzFor="user_id">请选择用户</nz-form-label>
        <nz-form-control style="margin-left: 4.5%;">
          <nz-transfer
            [nzDataSource]="list"
            nzShowSearch
            [nzOperations]="['', '']"
            [nzListStyle]="{'width.px': 250, 'height.px': 300}"
            (nzSearchChange)="search($event)"
            (nzSelectChange)="select($event)"
            (nzChange)="change($event)">
            <ng-template #render let-item>
              {{ item.name }}-{{ item.username }}
            </ng-template>
          </nz-transfer>
          <nz-form-explain *ngIf="validateUserForm.get('user_id').dirty && validateUserForm.get('user_id').errors">请选择用户</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</div>